################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Desafio-Paschoalotto.slnx/FileContentIndex
/.vs/slnx.sqlite
/.vs/Desafio-Paschoalotto/CopilotIndices/18.0.988.22099/CodeChunks.db
/.vs/Desafio-Paschoalotto/CopilotIndices/18.0.988.22099/CodeChunks.db-shm
/.vs/Desafio-Paschoalotto/CopilotIndices/18.0.988.22099/CodeChunks.db-wal
/.vs/Desafio-Paschoalotto/CopilotIndices/18.0.988.22099/SemanticSymbols.db
/.vs/Desafio-Paschoalotto/CopilotIndices/18.0.988.22099/SemanticSymbols.db-shm
/.vs/Desafio-Paschoalotto/CopilotIndices/18.0.988.22099/SemanticSymbols.db-wal
/.vs/Desafio-Paschoalotto.slnx/v18/.futdcache.v2
/.vs/Desafio-Paschoalotto.slnx/v18/.suo
/.vs/Desafio-Paschoalotto.slnx/v18/.wsuo
/.vs/Desafio-Paschoalotto.slnx/v18/DocumentLayout.backup.json
/.vs/Desafio-Paschoalotto.slnx/v18/DocumentLayout.json
*.v2
/.vs/Desafio-Paschoalotto.slnx/v18/ResourceExplorer/settings.json
