################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/Desafio-Paschoalotto.slnx/FileContentIndex
/.vs/slnx.sqlite
